<!-- Main -->
<header class="masthead" id="page-top">
<div class="container">
  <div class="intro-text">
    <div class="intro-lead-in">Bored at home by yourself ?</div>
    <div class="intro-heading text-uppercase">Time for a challenge!</div>
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Let's go</a>
  </div>
</div>
</header>
