<!-- Services -->
<section class="page-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">What to do?</h2>
        <h3 class="section-subheading text-muted">Whether it's reading more books, eating healthier diets, or getting that summer body you've alway wanted, </br> join fun and meaningful challenges to change your life.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Join a Challenge</h4>
        <p class="text-muted">Find and join any challenges that excite you!</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-calendar-check fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Check In Daily</h4>
        <p class="text-muted">Make sure to check in every day to claim your badges and prizes.</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-trophy fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Track Your Success</h4>
        <p class="text-muted">See your achievements and share with friends and family (and challenge them :P)</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-hands-helping fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Start a Challenge</h4>
        <p class="text-muted">After changing your life, start your own challenges to help change others'.</p>
      </div>
    </div>
  </div>
</section>
