<div class="center jumbotron">

	<h1>
		Ready to Challenge Yourself?
	</h1>
	</br></br></br>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

 <%= render 'shared/add_btn'%>

<h3><%= link_to "(List of users)",   users_path %></h3>



