// /* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

// textarea {
//   resize: vertical;
// }

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* home */
#add_btn {
  float: right;
}

/* header */

#logo {
  // float: left;
  // margin-right: 10px;
  font-size: 35px;
  // color: #fff;
  // text-transform: uppercase;
  // letter-spacing: -1px;
  // padding-top: 9px;
  // font-weight: bold;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 90px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

// body {
//   background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   background-size: cover;
//   -o-background-size: cover;
// }
$state-danger-text: #a94442;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

//////////////////////////////////// image crop to square
// reference: https://medium.com/@kimcodeashian/simple-css-solutions-how-to-resize-images-with-different-dimensions-without-cropping-eb744e93246d
.square {
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
}
// img {
//   position: absolute;
//   max-width: 100%;
//   width: 100%;
//   height: auto;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
img.landscape {
  height: 100%;
  width: auto;
}

/////////////////////////////////// image hover effect
.img-container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  &:hover {
    transform: scale(1.05);
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.4);
}

.overlay:hover {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

//////////////////// img hover zoom
// reference: https://w3bits.com/css-image-hover-zoom/
/* [1] The container */
.img-hover-zoom {
  height: 350px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 0.25s, visibility 0.25s ease-in;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}
